﻿<ul class="nav nav-list">
    <li class='@(ViewBag.ActiveMenu == "Orders" ? "active menu-text" : "menu-text")'>
        <a href="~/CustomerBillList?invoiceDate=@DateTime.Now.ToString("yyyy-MM-dd")"><i class="icon-building"></i><span class="menu-text">Customer Bills</span></a>
    </li>
    <li class='@(ViewBag.ActiveMenu == "Catelogs" ? "active menu-text" : "menu-text")'>
        <a href="~/CatelogList"><i class="icon-briefcase"></i><span class="menu-text">Catelog List</span></a>
    </li>
    <li class='@(ViewBag.ActiveMenu == "Retailers" ? "active menu-text" : "menu-text")'>
        <a href="~/RetailerList?cityId=0"><i class="icon-book"></i><span class="menu-text">Retailers</span></a>
    </li>
    <li class='@(ViewBag.ActiveMenu == "DailyCatelogSaleReport" ? "active menu-text" : "menu-text")'>
        <a href="~/DailyCatelogReport?saleDate=@DateTime.Now.Date.ToString("yyyy-MM-dd")"><i class="icon-file-text-alt"></i><span class="menu-text">Catelog Report</span></a>
    </li>
    <li class='@(ViewBag.ActiveMenu == "DailyRecieptReport" ? "active menu-text" : "menu-text")'>
        <a href="~/DailyRecieptReport?date=@DateTime.Now.Date.ToString("yyyy-MM-dd")"><i class="icon-file-text-alt"></i><span class="menu-text">Collection Report</span></a>
    </li>
    <li class='@(ViewBag.ActiveMenu == "DailyPurchaseReport" ? "active menu-text" : "menu-text")'>
        <a href="~/DailyPurchaseReport?poDate=@DateTime.Now.Date.ToString("yyyy-MM-dd")"><i class="icon-file-text-alt"></i><span class="menu-text">Purchase Report</span></a>
    </li>
    <li class='@(ViewBag.ActiveMenu == "StockList" ? "active menu-text" : "menu-text")'>
        <a href="~/StockList?month=@DateTime.Now.Month&brandTypeId=1"><i class="icon-file-text-alt"></i><span class="menu-text">Stock Report</span></a>
    </li>
</ul>