﻿@using Estore.Management.Library.Cities;
@model IEnumerable<Estore.Management.Library.Retailers.RetailerInfoDao>
@{
    ViewBag.ActiveMenu = "Retailers";
    ViewBag.Title = @ViewBag.Archived ? "Deleted Retailer List" : "Retailer List";
    var cityList = CityList.Get();
    ViewBag.Cities = cityList;
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}
<script type="text/javascript">
    function getSearch() {
        var queryExpression = $('#txtQueryExpression').val();
        var cityId = $('#sltRetailerCity').val();
        var url = '@Html.Raw(Url.Action("Index", "RetailerList", new { cityId = "__cityId__", queryExpression = "__queryExpression__" }))';
        window.location.href = url.replace("__cityId__", cityId).replace("__queryExpression__", queryExpression).replace("#", "%23");
    }

    function showRetailerPopup(retailerId) {
        if (retailerId == 0) {
            $('#txtRetailerId').val('0');
            $('#txtRetailerName').val('');
            $('#txtRetailerNickName').val('');
            $('#txtRetailerAddress').val('');
            $('#txtRetailerMobileNumber').val('');
            $('#txtRetailerCity').val('-1');
        }
        else {
            var apiUrl = '@Html.Raw(Url.Action("Get", null, new { retailerId = "__retailerId__" }))';
            $.ajax(apiUrl.replace("__retailerId__", retailerId),
            {
                success: function (data) {
                    $('#txtRetailerId').val(retailerId);
                    $('#txtRetailerName').val(data["Name"]);
                    $('#txtRetailerNickName').val(data["NickName"]);
                    $('#txtRetailerAddress').val(data["Address"]);
                    $('#txtRetailerCity').val(data["CityId"]);
                    $('#txtRetailerMobileNumber').val(data["MobileNumber"]);
                }
            });
        }
        $('#myModal').modal();
    }
</script>
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <div class="col-md-10">
            <ul class="breadcrumb">
                <li><i class="icon-home home-icon"></i><a href="#" style="color:maroon !important">Home</a> </li>
                <li><i class="icon-book"></i>&nbsp;<a href="#" style="color:maroon !important">Retailer List</a></li>
            </ul>
        </div>
    </div>
    <div class="page-content">
        <div class="row" style="height:60px;">
            <div class="col-md-8">
                <h3><i class="icon-book"></i>&nbsp;Retailer's List</h3>
            </div>
            <div class="col-md-4" style="text-align:right;vertical-align:middle;padding-top:20px;">
                <span class="btn btn-sm btn-success" onclick="showRetailerPopup(0);" style="padding-top:6px;padding-bottom:6px;">
                    <i class="icon-plus-sign-alt"></i>
                    &nbsp;New
                </span>
                &nbsp;&nbsp;
                <span class="btn btn-sm btn-success" style="padding-top:6px;padding-bottom:6px;color:white;">
                    <a href="~/RetailerList/Export?cityId=@ViewBag.SelectedCityId&queryExpression=@ViewBag.SelectedQueryExpression" target="_blank"
                       style="color:white !important" onclick="return !window.open(this.href, 'Print Invoice', 'width=900,height=700')">
                        <i class="icon-download-alt"></i>
                        &nbsp;Export
                    </a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10" style="border-right:solid #f1f1f1 1px;">
                <table class="table-bordered table-striped table-condensed" style="width:100%;">
                    <thead>
                        <tr>
                            <th style="color:#333 !important;font-weight:normal;">
                                <i class="icon-camera-retro"></i>
                                Name
                            </th>
                            <th style="color:#333 !important;font-weight:normal;">
                                <i class="icon-camera-retro"></i>
                                Mobile number
                            </th>
                            <th style="color:#333 !important;font-weight:normal;">
                                <i class="icon-camera-retro"></i>
                                Last Invoice
                            </th>
                            <th style="color:#333 !important;font-weight:normal;">
                                <i class="icon-camera-retro"></i>
                                Last Reciept
                            </th>
                            <th style="color:#333 !important;font-weight:normal;">
                                <i class="icon-camera-retro"></i>
                                Credit
                            </th>
                            <th style="color:#333 !important;font-weight:normal;">
                                <i class="icon-camera-retro"></i>
                                Debit
                            </th>
                            <th style="color:#333 !important;font-weight:normal;">
                                <i class="icon-camera-retro"></i>
                                Balance
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="vertical-align:top;">
                                @if (!ViewBag.Archived)
                                {
                                    <a href="~/RetailerInfo?retailerId=@item.RetailerId" style="background-color:transparent !important;color:black !important;font-size: 13px;padding:2px !important;text-align:left;text-decoration:underline !important;">
                                        <span style="text-transform:capitalize;">
                                            @item.Name.ToLower()
                                        </span>
                                    </a>
                                    <br />
                                    @item.Address
                                    <i class="icon-plus-sign"></i>
                                    @item.City
                                }
                                else
                                {
                                    <span style="text-transform:capitalize;color:#cdcdcd;">
                                        @item.Name.ToLower()
                                        <br />
                                        @item.Address @item.City
                                    </span>
                                }
                            </td>
                            <td style="vertical-align:middle;">
                                <i class="icon-mobile-phone" style="font-size:18px;"></i>
                                @item.MobileNumber
                            </td>
                            <td style="vertical-align:middle;text-align:left;font-size:13px;">
                                @if (item.LastInvoiceDate != DateTime.MinValue)
                                {
                                    <i class="icon-calendar"></i>
                                    <small>@item.LastInvoiceDate.Value.ToString("dd-MMMM")</small>
                                    <span>|</span>
                                    <i class="icon-rupee"></i>
                                    <small>
                                        @item.LastInvoiceAmount
                                    </small>
                                }
                            </td>
                            <td style="vertical-align:middle;text-align:left;font-size:13px;">
                                @if (item.LastRecieptDate != DateTime.MinValue)
                                {
                                    <i class="icon-calendar"></i>
                                    <small>@item.LastRecieptDate.Value.ToString("dd-MMMM")</small>
                                    <span>|</span>
                                    <i class="icon-rupee"></i>
                                    <small>
                                        @item.LastRecieptAmount
                                    </small>
                                }
                            </td>
                            <td style="vertical-align:middle;text-align:left;font-size:13px;padding-left:8px;">
                                @if (item.BilledAmount > 0)
                                {
                                    <i class="icon-rupee"></i>
                                    @item.BilledAmount
                                }
                            </td>
                            <td style="vertical-align:middle;text-align:left;font-size:13px;padding-left:8px;">
                                @if (item.CollectedAmount > 0)
                                {
                                    <i class="icon-rupee"></i>
                                    @item.CollectedAmount
                                }
                            </td>
                            <td style="vertical-align:middle;text-align:left;font-size:13px;padding-left:8px;">
                                @if (item.Balance > 0)
                                {
                                    <i class="icon-rupee"></i>
                                    @item.Balance
                                }
                            </td>
                            <td style="text-align:center;vertical-align:middle">
                                &nbsp;&nbsp;
                                <i class="icon-edit-sign" onclick="showRetailerPopup('@item.RetailerId')" style="cursor:pointer;font-size:18px;"></i>
                                &nbsp;&nbsp;
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-md-2" style="border-left: solid 1px #f1f1f1;padding: 37px 0px;height:500px;">
                <div class="col-md-12">
                    <h5 style="font-weight:bold;color:#26d21a">Filters</h5>
                </div>
                <div class="col-md-12">
                    <span style="color:#333;">Retailer Name</span>
                    <br />
                    <input id="txtQueryExpression" type="text" value="@ViewBag.SelectedQueryExpression" placeholder="Enter name." class="form-control" maxlength="50" onmouseout="getSearch();" />
                    <br />
                </div>
                <div class="col-md-12">
                    <span style="color:#333;">Select city</span>
                    <br />
                    <select id="sltRetailerCity" class="form-control" onchange="getSearch();">
                        <option value="0">All</option>
                        @foreach (var item in CityList.Get())
                        {
                            <option value="@item.Id" @((@ViewBag.SelectedCityId == @item.Id) ? "selected" : "")>@item.Name</option>
                        }
                    </select>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <!-- #region Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        @{
            var dao = new Estore.Management.Library.Retailers.RetailerDao
            {
                RetailerId = 0,
                Name = string.Empty,
                CityId = ViewBag.SelectedCityId,
                
            };
        }
        @using (@Html.BeginForm("Save", null, dao, FormMethod.Post))
        {
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please fill all required fields.!</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">Name<small style="color:maroon;font-weight:bold;">*</small></span>
                                <br />
                                <input type="hidden" name="dao.RetailerId" id="txtRetailerId" />
                                <input type="text" name="dao.Name" class="form-control" id="txtRetailerName" />
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">Nick name<small style="color:maroon;font-weight:bold;">*</small></span>
                                <br />
                                <input type='text' maxlength="50" name="dao.NickName" class='form-control' id="txtRetailerNickName" />
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">Address<small style="color:maroon;font-weight:bold;">*</small></span>
                                <br />
                                <input type='text' maxlength="100" name="dao.Address" class='form-control' id="txtRetailerAddress" />
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">City<small style="color:maroon;font-weight:bold;">*</small></span>
                                <br />
                                <select id="txtRetailerCity" name="dao.CityId" class='form-control'>
                                    <option value="-1">Select city</option>
                                    @foreach(var item in cityList)
                                    {
                                        <option value="@item.Id" @(ViewBag.SelectedCityId == item.Id ? "selected" : "")>@item.Name</option>
                                    }
                                </select>
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">Mobile number<small style="color:maroon;font-weight:bold;">*</small></span>
                                <br />
                                <input type='number' maxlength="10" name="dao.MobileNumber" class='form-control' id="txtRetailerMobileNumber" />
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-lg-12">
                            <button class="btn btn-success" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- #endRegion Modal -->
</div>
