﻿@model IEnumerable<Mobile.Estore.Library.Retailers.RetailerInfoDao>
<script>
    function Load() {
        window.print();
    }
</script>
<style type="text/css">
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RetailerList - @DateTime.Now.ToString("dd-MMM-yyyy")</title>
</head>
<body onload="Load();">
    <div style="width:800px;height:900px;margin: auto;">
        <br />
        <br />
        <h3>Retailers list details till @DateTime.Now.ToString("dd-MMMM-yyyy")</h3>
        <br />
        <br />
        <table class="table " style="width:100%;padding:5px;border-collapse:collapse;">
            <tr>
                <td style="padding:3px;border:solid 1px black;">
                    Name
                </td>
                <td style="padding: 3px; border: solid 1px black;vertical-align: middle">
                    Last Bill
                </td>
                <td style="padding: 3px; border: solid 1px black;vertical-align: middle">
                    Last Payment
                </td>
                <td style="padding:3px;border:solid 1px black;text-align:center;vertical-align:middle">
                    Balance
                </td>
            </tr>
            @foreach (var item in Model)
            {
                <tr style="border-top:solid 1px black;border-collapse:collapse;">
                    <td style="padding:3px;border-left:solid 1px black;text-transform:capitalize;border-collapse:collapse">
                        @item.Name.ToLower()
                        @if (item.Address != null)
                        {
                            @item.Address.ToLower()
                        }
                        @item.City.ToLower()
                    </td>
                    <td style="padding:3px;border-left:solid 1px black;text-transform:capitalize;border-collapse:collapse">
                        @if (item.LastInvoiceDate != DateTime.MinValue)
                        {
                            @item.LastInvoiceAmount
                            <small>(</small>
                            <small>@item.LastInvoiceDate.Value.ToString("dd-MM-yyyy")</small>
                            <small>)</small>
                        }
                    </td>
                    <td style="padding:3px;border-left:solid 1px black;text-transform:capitalize;border-collapse:collapse">
                        @if (item.LastRecieptDate != DateTime.MinValue)
                        {
                            @item.LastRecieptAmount
                            <small>(</small>
                            <small>@item.LastRecieptDate.Value.ToString("dd-MM-yyyy")</small>
                            <small>)</small>
                        }
                    </td>
                    <td style="padding:3px;border-left:solid 1px black;border-right:solid 1px black;text-transform:capitalize;border-collapse:collapse;text-align:center">
                        @item.Balance
                    </td>
                </tr>
            }
            <tr style="border-top:solid 1px black;border-collapse:collapse;">
                <td style="padding:3px;text-transform:capitalize;text-align:right;padding-top:15px;" colspan="3">
                    Total
                </td>
                <td style="padding:3px;text-transform:capitalize;font-weight:bold;padding-top:15px;">
                    @Model.Sum(x => x.Balance)
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
