﻿@using Estore.Management.Library.Brands;
@model Estore.Management.Library.Invoices.InvoiceDao
@{
    ViewBag.Title = "New Invoice";
    ViewBag.ActiveMenu = Model.RetailerId == 0 ? "RetailerEdit" : "RetailerInfo";
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
}

<script type="text/javascript">
    function enableRecieptNumber(checkStatus) {
        document.getElementById('txtRecieptNumber').value = "";
        document.getElementById('txtRecieptNumber').disabled = !checkStatus;
    }

    function calculatePrice(lineNumber) {
        document.getElementById('tax_' + lineNumber).innerHTML = "...";
        document.getElementById('total_' + lineNumber).innerHTML = "...";
        if (document.getElementById("checkbox_" + lineNumber).checked == true) {
            var catelogList = document.getElementById("catelog_" + lineNumber);
            if (catelogList.selectedIndex > 0) {
                var selectedText = catelogList.options[catelogList.selectedIndex].text;
                var gstPercentage = selectedText.split("-")[1];
                var price = document.getElementById("price_" + lineNumber).value;
                var quantity = document.getElementById("quantity_" + lineNumber).value;
                var totalTax = (price * quantity * gstPercentage) / 100;
                var total = (price * quantity) + totalTax;
                document.getElementById('hiddenTax_' + lineNumber).value = totalTax;
                document.getElementById('tax_' + lineNumber).innerHTML = totalTax;
                document.getElementById('total_' + lineNumber).innerHTML = total;
            }
        }
    }
</script>

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#" style="color:maroon !important">Home</a> </li>
            <li><i class="icon-building"></i><a href="#" style="color:maroon !important">New Invoice for @ViewBag.RetailerName</a></li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row" style="margin-top:15px;">
            <div class="col-md-12">
                <table class="table-bordered table-striped table-condensed" style="width:100%;">
                    <tbody>
                        @using (@Html.BeginForm(null, null, FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.RetailerId);
                            @Html.HiddenFor(x => x.RetailerName);
                            <tr>
                                <td style="width:99%;text-align:left;vertical-align:middle;">
                                    <div class="row">
                                        <div class="col-md-1 text-right" style="padding-top:5px;padding-bottom:6px;border-right:solid #cdcdcd 1px;">
                                            Name
                                        </div>
                                        <div class="col-md-5 text-left" style="padding-top:5px;padding-bottom:6px;font-weight:500;">
                                            @Model.RetailerName
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:99%;text-align:left;vertical-align:middle;">
                                    <div class="row">
                                        <div class="col-md-1 text-right" style="padding-top:5px;padding-bottom:6px;border-right:solid #cdcdcd 1px;">
                                            Bill No<small style="color:red;font-weight:bold;">*</small>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            @Html.TextBoxFor(x => x.InvoiceNumber, new { @class = "form-control", @placeholder = "Bill number" })
                                        </div>
                                        <div class="col-md-1 text-right" style="padding-top:5px;padding-bottom:6px;border-right:solid #cdcdcd 1px;">
                                            Date<small style="color:red;font-weight:bold;">*</small>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <input class="form-control" data-val="true" data-val-date="The field InvoiceDate must be a date." id="InvoiceDate" name="InvoiceDate" type="date" value=@DateTime.Now.ToString("yyyy-MM-dd") />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;padding:10px;">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <small style="color:black;"></small>
                                        </div>
                                        <div class="col-md-6">
                                            <small style="color:black;">Catelog</small>
                                        </div>
                                        <div class="col-md-1">
                                            <small style="color:black;">Quantity</small>
                                        </div>
                                        <div class="col-md-2">
                                            <small style="color:black;">Price</small>
                                        </div>
                                        <div class="col-md-1 text-center">
                                            <small style="color:black;">Tax</small>
                                        </div>
                                        <div class="col-md-1 text-center">
                                            <small style="color:black;">Total</small>
                                        </div>
                                        @{ int i = 0;
                                            foreach (var line in Model.InvoiceLines)
                                            {
                                                <div class="col-md-1" style="border-bottom:solid #cdcdcd 1px;height:40px;margin-top:5px;">
                                                    <i class="icon-columns">&nbsp;</i>
                                                    @Model.InvoiceLines[i].LineNumber
                                                    @Html.HiddenFor(x => x.InvoiceLines[i].LineNumber)
                                                    @Html.HiddenFor(x => x.InvoiceLines[i].Tax, new { @id = "hiddenTax_" + line.LineNumber })
                                                    @Html.CheckBoxFor(x => x.InvoiceLines[i].Archived, new { @id = "checkbox_" + line.LineNumber, @class = "catelogCheckBox" })
                                                </div>
                                                <div class="col-md-6" style="border-bottom:solid #cdcdcd 1px;height:40px;margin-top:5px;">
                                                    @Html.DropDownListFor(x => x.InvoiceLines[i].CatelogId, new SelectList(ViewBag.CateLogList, "CatelogId", "DisplayName", Model.InvoiceLines[i].CatelogId), "Select catelog", new { @class = "form-control", @id = "catelog_" + line.LineNumber, @onchange = "calculatePrice(" + line.LineNumber + ")" });
                                                </div>
                                                <div class="col-md-1" style="border-bottom:solid #cdcdcd 1px;height:40px;margin-top:5px;">
                                                    @Html.TextBoxFor(x => x.InvoiceLines[i].Quantity, new { @class = "form-control", @type = "number", @id = "quantity_" + line.LineNumber, @onchange = "calculatePrice(" + line.LineNumber + ")" })
                                                </div>
                                                <div class="col-md-2" style="border-bottom:solid #cdcdcd 1px;height:40px;margin-top:5px;">
                                                    @Html.TextBoxFor(x => x.InvoiceLines[i].Price, new { @class = "form-control", @type = "number", @id = "price_" + line.LineNumber, @onchange = "calculatePrice(" + line.LineNumber + ")" })
                                                </div>
                                                <div class="col-md-1" style="border-bottom:solid #cdcdcd 1px;height:35px;margin-top:10px;text-align:center">
                                                    <span style="border: solid 1px #cdcdcd; padding: 6px 14px;" id='tax_@line.LineNumber'>...</span>
                                                </div>
                                                <div class="col-md-1" style="border-bottom:solid #cdcdcd 1px;height:35px;margin-top:10px;text-align:center">
                                                    <span style="border: solid 1px #cdcdcd; padding: 6px 14px;" id='total_@line.LineNumber'>...</span>
                                                </div>
                                                i++;
                                            }
                                        }
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;">
                                    <div class="col-md-3" style="padding:10px;">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
