﻿@model IEnumerable<Estore.Management.Library.Reports.StockDao>
@{
    var brandList = Estore.Management.Library.Brands.BrandList.Get();
    ViewBag.Title = "Stock list";
    ViewBag.ActiveMenu = "StockList";
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}
<style>
    .fixTableHead {
        overflow-y: auto;
    }

        .fixTableHead thead th {
            position: sticky;
            top: 0px;
        }

    .thFirstColumn {
        position: sticky;
        left: 0px;
        top: 0px;
        z-index: 50;
    }

    .tdFirstColumn {
        position: sticky;
        left: 0px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        width: 200px !important;
        padding: 10px 15px;
        border-right: solid #cdcdcd 1px;
        border-bottom: solid #cdcdcd 1px;
        border-collapse: collapse;
        background-color: white;
    }

    th {
        width: 200px !important;
        border-right: solid #cdcdcd 1px;
        border-bottom: solid #cdcdcd 1px;
        background-color: #f1f1f1;
        border-collapse: collapse;
        color: black;
    }
</style>
<script type="text/javascript">
    function getStock() {
        var selectedMonth = $('#stockMonth').val();
        var selectedbrandTypeId = $('#sltBrand').val();
        if (selectedbrandTypeId != "-1") {
            var url = '@Html.Raw(Url.Action("Index", "StockList", new { month = "__month__", brandTypeId = "__brandTypeId__" }))';
            window.location.href = url.replace("__month__", selectedMonth).replace("__brandTypeId__", selectedbrandTypeId).replace("#", "%23");
        }
    }
</script>
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#" style="color:maroon !important;">Home</a> </li>
            <li><i class="icon-file-text-alt"></i>&nbsp;<a href="#" style="color:maroon !important;">Stock Report</a></li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row" style="height:60px;">
            <div class="col-md-8">
                <h3><i class="icon-file-text-alt"></i>&nbsp; Stock list for @ViewBag.SelectedMonth</h3>
            </div>
            <div class="col-md-4" style="text-align:right;vertical-align:bottom;padding-top:20px;">
                <select id="sltBrand" onchange="getStock();" style="width:160px;">
                    <option selected="selected" value="-1">Select Brand</option>
                    @foreach(var brand in brandList)
                    {
                       <option @((@ViewBag.SelectedBrandTypeId == brand.Id) ? "selected" : "") value='@brand.Id'>@brand.Name</option>
                    }
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <select id="stockMonth" onchange="getStock();" style="width:160px;">
                    <option value="-1">Select month</option>
                    <option value="1" @(ViewBag.SelectedMonthId == 1 ? "selected" : "")>January</option>
                    <option value="2" @(ViewBag.SelectedMonthId == 2 ? "selected" : "")>February</option>
                    <option value="3" @(ViewBag.SelectedMonthId == 3 ? "selected" : "")>March</option>
                    <option value="4" @(ViewBag.SelectedMonthId == 4 ? "selected" : "")>Apirl</option>
                    <option value="5" @(ViewBag.SelectedMonthId == 5 ? "selected" : "")>May</option>
                    <option value="6" @(ViewBag.SelectedMonthId == 6 ? "selected" : "")>June</option>
                    <option value="7" @(ViewBag.SelectedMonthId == 7 ? "selected" : "")>July</option>
                    <option value="8" @(ViewBag.SelectedMonthId == 8 ? "selected" : "")>August</option>
                    <option value="9" @(ViewBag.SelectedMonthId == 9 ? "selected" : "")>September</option>
                    <option value="10" @(ViewBag.SelectedMonthId == 10 ? "selected" : "")>Octuber</option>
                    <option value="11" @(ViewBag.SelectedMonthId == 11 ? "selected" : "")>November</option>
                    <option value="12" @(ViewBag.SelectedMonthId == 12 ? "selected" : "")>December</option>
                </select>
            </div>
        </div>
        <div style="margin-bottom:5px;height:500px;overflow-y:auto;margin-top:15px;">
            @if (Model != null && Model.Count() > 0)
            {
                <table class="fixTableHead table-hover">
                    <thead>
                        <tr>
                            <th class="thFirstColumn">
                                <i class="icon-file-text"></i>
                                OrderDate
                            </th>
                            @foreach (var item in Model.FirstOrDefault().Catelogs)
                            {
                                <th style="text-align:center;">
                                    @item.Name
                                </th>
                            }
                            <th style="text-align:center;">
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="tdFirstColumn" style="text-align:center">
                                    @if (item.StockDate.Date == DateTime.Now.Date)
                                    {
                                        <b>@item.StockDate.ToString("dd-MMM")</b>
                                    }
                                    else
                                    {
                                        @item.StockDate.ToString("dd-MMM")
                                    }
                                </td>
                                @foreach (var catelog in item.Catelogs)
                                {
                                    <td style="text-align:center;">
                                        @if (item.StockDate.Date == DateTime.Now.Date)
                                        {
                                            <b>@catelog.Quantity</b>
                                        }
                                        else
                                        {
                                            @catelog.Quantity
                                        }
                                    </td>
                                }
                                <td style="text-align:center;">
                                    @if (item.StockDate.Date == DateTime.Now.Date)
                                    {
                                        <b>@item.Catelogs.Sum(x => x.Quantity)</b>
                                    }
                                    else
                                    {
                                        @item.Catelogs.Sum(x => x.Quantity)
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h3>No stock report available.!</h3>
            }
        </div>
    </div>
</div>