﻿@model IEnumerable<Mobile.Estore.Library.Reports.DailyRecieptDao>
@{
    ViewBag.Title = "Collection Report";
    ViewBag.ActiveMenu = "DailyRecieptReport";
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}
<script type="text/javascript">
    function loadDailyReciept(selectedDate) {
        var url = '@Html.Raw(Url.Action("Index", "DailyRecieptReport", new { date = "__date__"}))';
        window.location.href = url.replace("__date__", selectedDate).replace("#", "%23");
    }
</script>
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#" style="color:maroon !important;">Home</a> </li>
            <li><i class="icon-file-text-alt"></i>&nbsp;<a href="#" style="color:maroon !important;">Collection Report</a></li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row" style="height:60px;">
            <div class="col-md-10">
                <h3><i class="icon-file-text-alt"></i>&nbsp;Collection report for @ViewBag.SelectedDate.ToString("dd-MMMM-yyyy")</h3>
            </div>
            <div class="col-md-2" style="text-align:right;vertical-align:middle;padding-top:20px;padding-bottom:10px;">
                <input type="date" value="@ViewBag.SelectedDate.ToString("yyyy-MM-dd")" onchange="loadDailyReciept(this.value);" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table-hover table-bordered table-striped table-condensed" style="width:100%;">
                    <thead>
                        <tr>
                            <th style="width:60%;padding-left:5px;color:#333;font-weight:normal;">
                                <i class="icon-camera-retro"></i>
                                Retailer Name
                            </th>
                            <th style="width:10%;padding-left:5px;color:#333;font-weight:normal;">
                                <i class="icon-camera-retro"></i>
                                Number
                            </th>
                            <th style="width:10%;padding-left:5px;color:#333;font-weight:normal;">
                                <i class="icon-camera-retro"></i>
                                Amount
                            </th>
                            <th style="width:20%;padding-left:5px;color:#333;font-weight:normal;">
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="padding-left:10px;">
                                @item.RetailerName
                            </td>
                            <td style="padding-left: 10px;vertical-align: middle;">
                                @item.RecieptNumber
                            </td>
                            <td style="vertical-align:middle;text-align:left;font-size:13px;padding-left:10px;">
                                <i class="icon-rupee"></i>
                                @item.Amount
                            </td>
                            <td style="text-align:left;vertical-align:middle;padding-left:10px;">
                                <a href="~/RetailerInfo?retailerId=@item.RetailerId" style="background-color: #26d21a !important;padding:3px;" class="btn-sm btn-info">
                                    <span style="padding-right:5px;border-right:solid white 1px;">Detail</span>
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="2" style="text-align:right;padding-right:10px;">
                            
                        </td>
                        <td style="text-align:left;padding-left:10px;font-size:15px;">
                            <i class="icon-rupee"></i>
                            @Model.Sum(x => x.Amount)
                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
