﻿@model Estore.Management.Library.Users.UserDao
@{
    ViewBag.Title = "Welcome to Bill Book Portal";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container">
    <div id="login-main">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4 col-lg-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <div class="text-center">
                                <h3 class="infotext">
                                    @ViewBag.Title
                                </h3>
                            </div>
                            <br />
                            <br />
                            <br />
                            <h5 class="infotext">Please enter your credentials</h5>
                            <br />
                        </div>
                        <div class="panel-body">
                            @using (@Html.BeginForm(null, null, FormMethod.Post))
                            {
                                <fieldset>
                                    @if (!Model.Status)
                                    {
                                        <div class="form-group" style="color:Red;">
                                            @Model.ErrorMessage
                                        </div>
                                    }
                                    <div class="form-group">
                                        <input class="form-control" placeholder="UserName" name="EmailAddress" type="text" value='@Model.EmailAddress' tabindex="1">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="Password" type="password" value='@Model.Password' maxlength="15" tabindex="2">
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <input type="submit" value="Login" class="btn btn-block btn-info" />
                                    </div>
                                </fieldset>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
