﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" media="screen" />
    <link rel="stylesheet" href="~/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.css" />
    <script type="text/javascript" src="~/assets/js/ace-extra.min.js"></script>
    <script type="text/javascript" src="~/Assets/Js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/typeahead-bs2.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.easy-pie-chart.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="~/assets/js/ace-elements.min.js"></script>
    <script type="text/javascript" src="~/assets/js/ace.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.flot.pie.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.flot.resize.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript">
        try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
        if ("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
        try { ace.settings.check('main-container', 'fixed') } catch (e) { }
    </script>
</head>
<body>
    <div class="navbar navbar-default" id="navbar">
        <div class="navbar-container" id="navbar-container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="navbar-header pull-left">
                        <a href="#" class="navbar-brand">
                            <span>@ViewBag.Title</span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="resturant-name">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="navbar-header pull-right" role="navigation">
                        <ul class="nav ace-nav">
                            <li class="light-blue">
                                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                    <img class="nav-user-photo" src="~/assets/avatars/user.jpg" alt="Oliver Smith" />
                                    <span class="user-info"><small>Welcome,</small> MPC</span><i class="icon-caret-down"></i>
                                </a>
                                <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                    <li><a href="~/Logout"><i class="icon-off"></i>Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container" id="main-container">
        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#"><span class="menu-text"></span></a>
            <div class="sidebar" id="sidebar">
                @Html.Partial("~/Views/Shared/NavList/SuperMenu.cshtml");
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                </div>
            </div>
            <!-- Main Content Start Here -->
            @RenderBody()
            <!-- Main Content Start Here -->
        </div>
    </div>
</body>
</html>
