.navbar-static-top.navbar {
	background: #28d21a;
}
.navbar-static-top .navbar-brand {
	color: #fff;
	padding: 15px 0px;
}
.navbar-static-top .btn-warning { margin:0px; padding:10px 20px; color:#ffffff;
	
}
.navbar-static-top .btn-warning a{ color:#ffffff!important;}
.navbar-static-top .username {
	padding: 15px;
	font-size: 15px;
	color: #eee;
	line-height: 20px;
}
.left_sidebar {
	position: fixed;
	left: 0;
	width: 200px;
	background: #fff;
	top: 50px;
	bottom: 0;
	box-shadow: 2px 2px 2px #d9d9d9;
	border-left: 1px #eee solid;
	z-index: 99;
}
.container-fluid {
	padding-left: 15px;
	padding-right: 15px;
}
.table_page {
	margin-left: 210px;
}
ul{ margin:0px !important;}
